@media ( min-width : 1200px) {
	.container {
		max-width: 100%;
	}
}

@media ( min-width : 992px) {
	.container {
		max-width: 100%;
	}
}

div#header {
	width: 100%;
	padding: 20px;
}

div#branding {
	float: left;
	position: relative;
	width: 500px;
}

div#notifications {
	float: left;
}

div#branding span {
	font-family: 'Lato', sans-serif;
	font-size: 30px;
	margin-left: 30px;
	position: absolute;
	bottom: 0px;
}

.container {
	top: 20px;
	position: absolute;
	width: 100%;
	height: 100%; float : clear;
	position: absolute;
	float: clear;
}

.node {
	stroke: #fff;
	stroke-width: 1.5px;
}

.selected {
	stroke: #FF6600;
	stroke-width: 3px;
}

.link {
	stroke: #999;
	stroke-width: 3px;
	stroke-opacity: .6;
}

textarea#query {
	width: 100%;
	border: 2px solid #cccccc;
	padding: 5px;
	font-family: Tahoma, sans-serif;
	background-position: bottom right;
	background-repeat: no-repeat;
	margin: 0px 0px 20px 0px;
}

#tabsWrapper {
	background-color: rgba(233, 233, 233, 0.6);
	padding: 20px;
	height: 450px;
}

marker#transaction {
	fill: #555;
}

.remove-report {
	float: right;
}

#patternVisualizer {
	height: 550px;
}

#reportsContent {
	height: 550px;
	overflow-y: auto;
}

a#runAlgorithm {
	margin-top: 20px;
}

.nav-tabs>li.active>a,.nav-tabs>li.active>a:hover,.nav-tabs>li.active>a:focus
	{
	color: #fff;
	background-color: #428bca;
}

.nav-tabs>li>a {
	border: 1px solid #ddd;
}

div#reportsTitle {
	float:left;
}

div#reportingOptions {
	float: right;
}

div#reportsHeader {
	position: relative;
}