
*.snapshot

.DS_Store

.cache

.classpath

.project

bin/*

project/target/*

target/*
/bin
log_messages.txt


src/main/scala/com/signalcollect/fraudppuccino/evaluation/btc/BTCTransactionMatcherDemo.scala
