.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.selected {
  stroke: #FF6600;
  stroke-width: 3px;
}

.link {
  stroke: #999;
  stroke-width: 3px;
  stroke-opacity: .6;
}

textarea#query {
	width: 100%;
	border: 2px solid #cccccc;
	padding: 5px;
	font-family: Tahoma, sans-serif;
	background-position: bottom right;
	background-repeat: no-repeat;
	margin: 0px 0px 20px 0px;
}

#tabsWrapper {
	background-color: rgba(233,233,233,0.6);
	padding:20px;
	height:450px;
}

marker#transaction {
   fill: #555;
}

.remove-report {
   float:right;
}

#patternVisualizer {
	height:550px;
}

#reportsContent {
	height:550px;
	overflow-y: auto;
}

a#runAlgorithm {
	margin-top:20px;
}